<div class="login-page">
  <div class="left-panel">
    <div class="text-content">
      <h1 class="brand-title"><strong>Rent It</strong></h1>
      <p class="welcome-message">
        Bine ai venit la <strong>Rent It</strong>! Aici închirierea produselor nu a fost niciodată mai ușoară!
      </p>
      <img src="/assets/images/RentBanner.jpg" alt="RentBanner" class="rent-banner" />
    </div>

  </div>

  <div class="center-panel">
    <div class="login-container">
      <h2><strong>CONECTARE</strong></h2>

      <div *ngIf="success" class="success-message">{{ success }}</div>
      <div *ngIf="error" class="error-message">{{ error }}</div>

      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email"
                 id="email"
                 [(ngModel)]="email"
                 name="email"
                 required
                 email
                 #emailInput="ngModel" />
          <div *ngIf="emailInput.invalid && emailInput.touched" class="validation-error">
            Te rugăm să introduci un e-mail valid!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Parolă:</label>
          <input type="password"
                 id="password"
                 [(ngModel)]="password"
                 name="password"
                 required
                 minlength="6"
                 #passwordInput="ngModel" />
          <div *ngIf="passwordInput.invalid && passwordInput.touched" class="validation-error">
            Parola trebuie să conțină minim 8 caractere, o literă mare, o cifră și un caracter special!
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Intră în cont</button>
      </form>
      <p>Nu ai cont? <a routerLink="/register">Înregistrează-te aici!</a></p>
    </div>
  </div>
</div>
